<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Book</title>
</head>
<body>

<div align="center">
    <h1>Delete book</h1>
    <hr>
    <th:block th:if="message">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/book/delete}" method="post" th:object="${book}" onsubmit="return((confirmDelete()))">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td><a th:text="${book.name}"></a></td>
            </tr>
            <tr>
                <td>Author:</td>
                <td><a th:text="${book.author}"></a></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><a th:text="${book.type}"></a></td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td><a th:text="${book.amount}"></a></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Delete">
                </td>
            </tr>
        </table>
    </form>
    <a th:href="@{/book/list}">Back to List</a>
</div>
    <script>
    function confirmDelete() {
        var result = confirm("Are you sure?");
        return result;
    }
</script>
</body>
</html>