<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/book/edit}" method="post" th:object="${book}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td><input type="text" th:field="*{type}"></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
        1
        <tr>
            <td>Amount:</td>
            <td><input type="text" th:field="*{amount}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Update">
            </td>
        </tr>
    </table>
</form>
<a th:href="@{/book/list}">Back to List</a>
</body>
</html>